/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
/* CSS Reset */

/* Variables */
:root {
  /* Colors */
  --blue-dark: #1d242d;
  --blue-medium: #262e38;
  --blue-light: #969fad;
  --white: #fff;
  --orange: #fc7614;
  --body: #131518;

  /* Font Sizes */
  --fs-l: 1.75rem;
  --fs-m: 1rem;
  --fs-s: 0.938rem;

  /* Font Weight */
  --fw-l: 700;
  --fw-m: 400;
}

/* Utility Classes */
/* Colors */
.white {
  color: var(--white);
}

.blue-light {
  color: var(--blue-light);
}

.blue-dark {
  color: var(--blue-dark);
}

.orange {
  color: var(--orange);
}

/* Background Colors */
.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-medium {
  background-color: var(--blue-medium);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-white {
  background-color: var(--white);
}

.bg-body {
  background-color: var(--body);
}

/* Text Presets */
.text-preset-1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-l);
}

.text-preset-2 {
  font-size: var(--fs-m);
  font-weight: var(--fw-l);
}

.text-preset-3 {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
}

.text-preset-4 {
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
}

/* Font Family */
.ff-primary {
  font-family: "Overpass", sans-serif;
}

/* Body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Component Not Submitted*/
.component-initial {
  width: 26rem;
  height: 26rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.star {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

h1 {
  margin-bottom: -1.25rem;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.ratings div {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.hover:hover {
  background-color: var(--orange);
  color: var(--blue-dark);
}

.component-initial button {
  border: none;
  border-radius: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

.component-initial button:hover {
  background-color: var(--white);
}

.warning {
  color: #ff6961;
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

/* Component Submitted */
.component-submitted {
  width: 26rem;
  height: 26rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.component-submitted img {
  width: 12.5rem;
  margin-inline: auto;
}

.component-submitted h2 {
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
}

.component-submitted h3 {
  margin-bottom: -2.5rem;
}

/* Interactive States */
.active {
  background-color: var(--white);
  color: var(--blue-dark);
}

.hidden {
  display: none;
}

.warning-visible {
  display: block;
}

/* Media Query */
@media screen and (max-width: 28rem) {
  .component-initial,
  .component-submitted {
    width: calc(100vw - 2rem);
    height: 60vh;
  }
}
